<h2>Encuesta de datos familiares</h2>
<form name="familiar" role="form" ng-controller="familiar">
<fieldset class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Datos personales del encuestado</h3>
	</div>
	<div class="panel-body">    
	<div ng-class="{
		'form-group':true, 
		'has-success':familiar.nombre.$valid, 
		'has-error':familiar.nombre.$invalid && familiar.nombre.$dirty,
		'has-feedback':true
	}">
		<label class="control-label" for="nombre">Nombre</label>
		<div class="form-group">
			<input type="text" class="form-control" id="nombre" name="nombre" ng-model="nombre" ng-required="true">
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="familiar.nombre.$valid"></span>
		</div>
	</div>
	<div ng-class="{
		'form-group':true, 
		'has-success':familiar.fechaNac.$valid, 
		'has-error':familiar.fechaNac.$invalid && familiar.fechaNac.$dirty,
		'has-feedback':true
	}">
		<label class="control-label" for="fechaNac">Apellido</label>
		<div class="form-group">
			<input type="text" class="form-control" id="fechaNac" name="fechaNac" ng-model="fechaNac" ng-required="true">
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="familiar.fechaNac.$valid"></span>
		</div>
	</div>
	</div>
</fieldset>
<fieldset class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Datos del conyuge</h3>
	</div>
	<div class="panel-body">    
	</div>
</fieldset>
</form>
