<div class="text-center" ng-controller="ResultCtrl">
    <h2>{{item.nombre}}</h2>
    <span>{{item.direccion}}</span>
    <div>
        <img src="images/hi.jpg">
    </div>

    <form novalidate class="simple-form">
        Starts: <input type="radio" ng-model="qualif.point" value="1" />1 Star
        <input type="radio" ng-model="qualif.point" value="2" />2 Star
        <input type="radio" ng-model="qualif.point" value="3" />3 Star
        <input type="radio" ng-model="qualif.point" value="4" />4 Star
        <input type="radio" ng-model="qualif.point" value="5" />5 Star<br />
        Comentarios: <textarea ng-model="qualif.comment" /><br />
        <button ng-click="calificar(qualif)">Calificar</button>
    </form>
</div>